<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Betty's website - {{title}}</title>
    <!-- insert bootstrap cdn-->
    	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
	<header>
		<h1>Yo! Nice to meet Betty</h1>
		<h2>{{title}}</h2>
		<nav>
			<a href = "index.html">{{home1}}</a>
			<a href = "food.html">{{food}}</a>
			<a href = "family.html">{{family}}</a>
			<a href = "login.html">{{login}}</a>
		</nav>


		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a href="index.html">Home</a></li>
		  <li role="presentation"><a href="#">Profile</a></li>
		  <li role="presentation"><a href="#">Messages</a></li>
		</ul>
	</header>
	{% block content %}
	I should never see this content.  It should be replaced.
	{% endblock %}
	<footer>
		<p>Copyright &copy; Betty Ku.</p>
	</footer>
	
	<!-- CDN jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>